<% provide(:title, 'About') %>
<h1>About the Mathoscope</h1>
<p>
  The Mathoscope is an application to measure math abilities of students. It
  allows students to create an account and to answer math questions. Each time
  a question is answered correctly, the student accumulates points.
</p>

<p>
  This application has been developed by
  <a href="http://devio.us/~loicseguin/">Loïc Séguin-Charbonneau</a>. The
  source code is available under a BSD license and can be downloaded from
  <a href="https://github.com/loicseguin/mathoscope">github</a>.
</p>
