<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>To use the Mathoscope, you first need to create an account on the <%=
link_to "signup page", signup_path %>. Once your account is created, log in by
clicking the <%= link_to "sign in", signin_path %> link at the top right of the
window.</p>

<p>When you are signed in, you can edit your profile, log out, and more
importantly, start answering math questions. To answer questions, click on the
<%= link_to "Start here!", new_response_path %> link on the navigation bar at the
top.</p>

<p>The Mathoscope shows you one question at the time. You can either answer it
or press the 'Skip' button to go to the next question. Questions that you skip
or for which you give the wrong answer will eventually be asked again, be
patient. Every time you answer a question correctly, you get 10 points. Try to
accumulate as many points as possible.</p>
