<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>Using the Mathoscope is supposed to be simple enough that you can figure out
what you should do on your own.</p>

<p>If you are stuck, try going to the home page and clicking on the big blue
button that says 'Sign me up'. Once you have an account, log in and start
answering math questions.</p>

<p>The Mathoscope shows you one question at the time. You can either answer it
or press the 'Skip' button to go to the next question. Questions that you skip
or for which you give the wrong answer will eventually be asked again, be
patient.</p>
