<div class="center hero-unit">
  <h1>Welcome to the Mathoscope</h1>
  <h2>To start measuring your math skills, press the big button.</h2>

  <%= link_to "Sign me up!", signup_path, class: "btn btn-large btn-primary" %>
</div>
