<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @user.admin? %>
        <p>Admin</p>
      <% end %>
      <p><%= @user.email %></p>
    </section>
  </aside>
  <p>Score: <%= @user.score %></p>
</div>

